body {
  background-color: rgb(255, 255, 255);
  font-family: Helvetica, sans-serif;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

#top-nav {
  background-color: #101e22;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.hidden {
  display: none !important;
}

.selected {
  background-color: #274851;
}

.book-div {
  display: flex;
  justify-content: space-between;
  height: 160px;
  position: relative;
  margin-bottom: 10px;
}

.book-info p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.book-title {
  font-weight: bolder;
  font-size: 20px;
}

.book-info {
  position: absolute;
  left: 350px;
}

.stock-info {
  justify-content: end;
}

.mini-cover {
  height: 50px;
  width: 50px;
  margin-top: 16px;
}

#logo {
  width: 109px;
  height: 73px;
  margin-bottom: 0px;
}

#search {
  display: flex;
  align-items: center;
}

#search-term {
  width: 600px;
  height: 30px;
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#search-icon {
  width: 33px;
  height: 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#cart-icon {
  height: 48px;
  width: 60px;
}

#cart, #user {
  margin-top: 10px;
  margin-bottom: 0px;
}

#cart p {
  color: white;
  font-size: 12px;
  font-weight: bolder;
  text-align: right;
  margin-top: 2px;
}

main {
  display: flex;
}

#user p {
  color: white;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
}

#user-icon {
  height: 50px;
  width: 56px;
}

#container {
  margin-top: 100px;
  margin-left: 120px;
  margin-right: 80px;
  padding-left: 80px;
  width: 100%;
}

#side-bar {
  /* border: 2px solid #101e22; */
  margin-top: 90px;
  position: fixed;
  z-index: 1;
  height: 100%;
  padding: 20px;
  padding-top: 25px;
  padding-left: 25px;
  background-color: #101e22;
  color: white;
}

#side-bar h1 {
  font-size: 16px;
  text-decoration: underline;
}